<a href="mailto:{{ site.email }}" title="Email"><i class="fas fa-envelope"></i></a>
<a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID"><i class="ai ai-orcid"></i></a>
<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
<a href="https://www.researchgate.net/profile/{{ site.research_gate_profile }}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
<a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
<a href="https://bsky.app/profile/{{ site.bluesky_id }}" title="Bluesky"><i class="fas fa-cloud"></i></a>
