---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

a {
  color: #005EB6 !important; /* 蓝色 */
}

a:hover {
  color: #FF0000 !important; /* 红色 */
}

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
